@import "../../styles/general.scss";

.oneOffer {
  margin-bottom: 65px;
  width: 290px;
  font-family: "Roboto";
}
.offerTitle {
  font-size: 25px;
  font-family: "RCB";
  color: $orange;
  background: $black;
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
}

.offerSubtitle {
  font-family: "RC";
  font-size: 15px;
}
.offerCarPic {
  width: 80%;
  height: 50%;
  object-fit: contain;
}
.mileage {
  font-size: 18px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.offerPricing {
  font-size: 12px;
  color: $white;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  align-items: baseline;
}

.offerPricingBig {
  font-size: 22px;
}

.black {
  margin-top: 5px;
  color: $black;
}

.dayPriceFormatted {
  display: flex;
  align-items: baseline;
}
