@import "../styles/general.scss";

.worldMapBg {
  background-color: $black;
  display: flex;
  justify-content: center;
}
// to avoid small white line btw carousel and map
.homeBg {
  background-color: $black;
}

@media (max-width: 768px) {
  .worldMapBg {
    width: calc(100vw - 20px);
  }
  .worldMapBg > img {
    object-fit: contain;
  }
  .carouselContainer {
    display: none;
  }
}
@media (max-width: 1024px) {
  .worldMapBg {
    max-width: calc(100vw - 20px);
  }
  .carouselContainer {
    width: calc(100vw - 20px);
  }
}
