@import "../../styles/general.scss";

@mixin allButtons {
  :hover {
    cursor: pointer;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  font-family: "RC";
  font-size: 16px;
}

@mixin medium {
  width: 200px;
  height: 50px;
}
@mixin long {
  width: 400px;
  height: 50px;
}

// type of buttons
.orange {
  @include allButtons;
  @include medium;
  background-color: $orange;
}

.orangeLong {
  @include allButtons;
  @include long;
  background-color: $orange;
}

// needs fixing
.medium {
  @include allButtons;
  height: 40px;
  width: 200px;
}
.orangeSize2 {
  background-color: $orange;
  box-shadow: none;
  border: none;
  height: 30px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  color: $white;
}

.orangeType3 {
  @include allButtons;
  background-color: $orange;
  color: $white;
  height: 50px;
  width: 25%;
  font-family: "RCB";
  font-size: 16px;
}
.disabled {
  color: $lgrey;
}
.whiteSize3 {
  @include allButtons;
  background-color: $white;
  color: $orange;
  height: 50px;
  width: 100%;
  font-family: "RCB";
  font-size: 16px;
}

// border
.bl_border {
  border: 2px solid black;
  border-radius: 5px;
}
