@import "../../styles/general.scss";

@mixin allButtons {
  :hover {
    cursor: pointer;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  font-family: "RC";
  font-size: 16px;
}

@mixin medium {
  width: 200px;
  height: 50px;
}
@mixin long {
  width: 400px;
  height: 50px;
}
@mixin veryLong {
  width: 100%;
  height: 50px;
}

// type of buttons - by default, size is medium and font color is black
// orange background
.orange {
  @include allButtons;
  @include medium;
  background-color: $orange;
}
.orangeLong {
  @include allButtons;
  @include long;
  background-color: $orange;
}
.orangeWhiteVeryLong {
  @include allButtons;
  @include veryLong;
  background-color: $orange;
  color: $white;
}
// white background
.whiteLong {
  @include allButtons;
  @include medium;
  background-color: $white;
  color: $orange;
  border: $orange 1px solid;
}
.whiteVeryLong {
  @include allButtons;
  @include veryLong;
  background-color: $white;
  color: $orange;
}

// misc
.appDownloadButton {
  @include allButtons;
  @include medium;
  background-color: $orange;
  border: 2px solid black;
  border-radius: 5px;
}
