/* HEADER GENERAL */
.headerContainer {
  border: 2px blue solid;
  width: 100%;
  height: 80px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  border: 2px green solid;
  width: 10%;
  height: 100%;
  object-fit: contain;
}
