@import "../../styles/general.scss";

.bookingSummary {
  display: flex;
  font-size: 20px;
  max-width: 100%;
  margin-bottom: 15px;
  .clickableArea {
    display: flex;
    width: 100%;
    gap: 10px;
    :hover {
      cursor: pointer;
    }
  }
  .date {
    color: $orange;
    flex: 1;
  }
  .code {
    flex: 1;
  }
  .vehicule {
    flex: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .dates {
    text-decoration: wavy;
    flex: 2;
    display: flex;
    gap: 5px;
  }
  .client {
    text-decoration: wavy;
    flex: 2;
    display: flex;
    gap: 5px;
  }
  .total {
    color: $orange;
    flex: 1;
  }
  .delete {
    width: 30px;
    :hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .bookingSummary {
    .clickableArea {
      flex-direction: column;
      border-left: 3px solid darkgray;
      padding-left: 5px;
    }
  }
}
