@import "../../styles/general.scss";

.footerContainer {
  width: 100%;
  height: 80px;
  padding: 0 20px 10px 20px;
  background-color: black;
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: 12px;
}
.footerContainerSection {
  display: flex;
  gap: 15px;
  align-items: end;
}

@media (max-width: 1024px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
}
